.btn {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
}
.wbdv-tbody {
    font-weight: 500;
}
#zzx-name-table {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0px;
    padding-top: 0px;
}